.root {
    width: 150px;
    max-width: 360px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.yourChatsHeader {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #000;
}

.unreadChat {
    width: 5px;
    height: 5px;
    background: cornflowerblue;
    border-radius: 50%;
}