.message {
    background-color: #457062;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 16px;
    margin: 5px;
    color: #fff;
}

.message-author {
    font-size: 14px;
    color: #aaaaaa;
}

