.message {
    background-color: #3f51b5;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin: 5px;
    color: #fff;
    font-family: sans-serif;
}

.messageSender {
    color: lightblue;
    font-size: 14px;
}