.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
 }
 
 .layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(217, 243, 243);
 }
 
 .message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
 }
 
 .message-sender {
    color: gray;
    font-size: 14px;
 }

 .header {
    width: 100%;
    height: 120px;
    background-color: aquamarine;
    color: rgb(35, 104, 196);
    font-size: 30px;
 }
 
 .chatWrap {
    display: flex;
    width: 100%;
 }

 .messageFieldWrap {
    width: 70%;
 }

 .chatList {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .chatName {
   background-color: lightblue;
   padding: 5px 15px;
   border-radius: 20px;
   font-size: 18px;
   margin: 5px;
 }