.msg {
  padding: 8px;
  border-radius: 5px;
  background-color: skyblue;
  margin-bottom: 5px;
  max-width: 40%;
  word-wrap: break-word;
}
.author {
  font-weight: bold;
}
.del {
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    color: #fff;
  }
}
