/*Обнуление*/
/* *{padding:0;margin:0;border:0;} */
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

html, body, #app {
    margin: 0;
    height: 100%;
    font-family: Tahoma, sans-serif;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    color: #fff;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
}

.message {
    background-color: #3f51b5;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 16px;
    margin: 5px;
    color: #fff;
}

.message-sender {
    font-size: 14px;
    color: #aaaaaa;
}

.actions {
    width: 100%;
    display: flex;
    margin-top: 12px;
}

.header {
    padding: 16px;
    background-color: #3f51b5;
    font-size: 24px;
    color: #fff;
}

.layout {
    height: 100%;
}

.chat-list {
    width: 30%;
    background-color: #e2e2e2;
    border-right: 1px solid #ccc;
}

.content {
    display: flex;
    height: calc(100% - 140px);
}

.message-field-wrapper {
    width: 70%;
}

.chat-list-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #bbb;
    margin-right: 12px;
}

.empty-chat {
    height: 100%;
    background-color: #e2e2e2;
    width: 70%;
    padding-top: 42px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

.chat-list a {
    text-decoration: none;
    color: inherit;
}