* {
  outline: none !important;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

.message-field {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: auto;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.message-field::-webkit-scrollbar {
  width: 0;
}

.layout {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 500px;
  word-wrap: break-word;
}

.message span {
  font-size: 14px;
  margin-top: 5px;
}

.actions {
  max-width: 100%;
  display: flex;
  padding: 12px;
}

.header {
  width: 100%;
}

.header-profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contant {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}

.chat-bord {
  width: 80%;
}

.chat-list {
  width: 20%;
}

.chat-link {
  text-decoration: none;
  color: #000;
}

.login {
  margin: 0 0 0 auto !important;
  text-decoration: none;
  color: #fff;
}

.home {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.profile {
  height: 100%;
}

.place {
  margin: 0 auto;
  display: block;
}

.empty-chat {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}